.container2 {
    width: 100%;
    height: 500px;
    margin-top: 50px;
    box-sizing: border-box;
     animation-duration: 2s;
     animation-name: slideright;
      animation-iteration-count:1;
  @keyframes slideright{
    from {
      margin-right: 100%;
     
    }
    to {
      margin-right: 0%;
     
    } 
    }
    .center2 {
        display: flex;
        flex-direction: row;
        border: 1px solid;
        width: 55px;
        height: 100px;
       border: none; 
        margin-top: 200px;
        margin-left: 245px;
       
.box-1 i{
    border-radius: 30px;
    margin-top: -110px;
    width: 55px;
    cursor: pointer;
    height: 80px;
    border-color: #dc3545;
    outline: none;
    padding: -2px;
    color: #000000;
            background: #dc3545;
            background: linear-gradient(to left, white 50%, #dc3545 50%) right;
            background-size: 200%;
            transition: .5s ease-out;
            &:hover {
             
                background-position: left;
                
           
            }
}
         .text1{
             width:43% ;
color: #000000;
font-size: 20px;
font-family: Roboto,sans-serif;
font-weight: 400;
padding-left: 35px;
letter-spacing: 1px;
padding-top: -5px;
display: inline;
line-height:30px;
margin-top: -70px;
       
    }
    .box-2 i{
        display: flex;
        flex-direction: column;
        margin-top: 300px;
        position: relative;
        left: 400px;
        border: 3px solid;
    border-radius: 30px;
    width: 85px;
  cursor: pointer;
    height: 80px;
   border-color: #dc3545;
   outline: none;
   border: none;
   padding: -2px;
   color: #000000;
           background: #dc3545;
           background: linear-gradient(to left, white 50%, #dc3545 50%) right;
           background-size: 200%;
           transition: .5s ease-out;
           &:hover {
            
               background-position: left;
               
          
           }
}

    }
    .text2 {
        width:43% ;
        color: #000000;
        font-size: 20px;
        font-family: Roboto,sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
        padding-top: 300px;
        margin-left: -200px;
        line-height:30px;
        
        
    
    }
    .box-3 i{
      display: flex;
      flex-direction: column;
     
      position: relative;
      left: 780px;
      bottom:-40px;
      border: 5px;
     

  width: 90px;
cursor: pointer;
  height: 80px;
  border-radius: 30px;
 border-color: #dc3545;
 background-color: #fff;
  outline: none;
  border: none;
  padding: -2px;
  color: #000000;
          background: #dc3545;
          background: linear-gradient(to left, white 50%, #dc3545 50%) right;
          background-size: 200%;
          transition: .5s ease-out;
          &:hover {
           
              background-position: left;
              
              
         
          }

  }
    .text3 {
      width: 43%;
      color: #000000;
      font-size: 20px;
      font-family: Roboto,sans-serif;
      font-weight: 400;
      letter-spacing: 1px;
      margin-left: 550px;
      padding-top: 140px; 
      line-height:30px;

    }

    }

