.ourteam {
    width: 100%;
    height: 900px;
    background-color: #0f0f0f;

    
   .teamhead {
       
       height: 31.2px;
       display: flex;
       justify-content: center;
        color: #fff;
        font-family: "Poppins", 'Segoe UI', 'Ubuntu','Droid Sans', sans-serif;
        padding-top: 5rem;
        font-size: 20.8px;
        font-weight: 450;
        margin-bottom: 15px;
   }
   .team2head {
    display: flex;
    justify-content: center;
    color:#fff;
    font-family: "Poppins", 'Segoe UI', 'Ubuntu','Droid Sans', sans-serif;
    padding-top: 1.5rem;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
    letter-spacing: 1px;
    

   }
   .pteam {
    display: flex;
    justify-content: center;
    color:#fff;
    font-family: "Poppins", 'Segoe UI', 'Ubuntu','Droid Sans', sans-serif;
    padding-left: 1rem;
    font-size: 15px;
    font-weight: 450;

   }

   
 }
