#nav {
    
    
    background-color: #1b1b1b !important;
    font-size: 15px;
     #flu {
      
       padding-top: -5px;
        #logo {
            display: flex;
            justify-self: flex-start !important;
            margin-top: 8px;
            margin-left: -15px;
           
        }
        .success-btn {
                      margin-left: 61rem;
                      margin-top: 5px;
                      margin-bottom: 5px;
        }
        .btn-success { 
           font-size: 14px;
           background-color: #82B440;
           color: #ffffff;
           width: 110px;
           height: 40px;
           padding: 5px 15px;
           font-family:"Helvetica Nevue",Arial, Helvetica, sans-serif;
           border-radius: 5px;
        }
        .bi {
            width: 20px;
            height: 20px;
            font-family: marketplace-glyphs;
            font-style: normal;
            font-weight: 700px;
            color: #ffffff;
        }
        .btn-primary {
          margin-top: -12px;
          margin-bottom: -12px;
            width: 160px;
            height: 65px;
            border:none;
            outline: none;
            background:none;
            border-left:0.5px solid #333333;
            border-bottom-right-radius: 200px;
            border-top-right-radius: 200px;
           
.rmv-frame {
    color: #999999;
    font-size: 15px;
    font-family:"Helvetica Nevue",Arial, Helvetica, sans-serif;
    width: 82.69px;
    height: 14px;
    &:hover {
        color: #ffffff;
    }
}
        }
         .navbar-brand {
            .logo-img { 
                font-family:"Helvetica Nevue",Arial, Helvetica, sans-serif;
                color: #0000EE; 
                margin-top: -10px;
                margin-left: 5px;
            }
    }
         }
     }
