.container3 {
    width: 100%;
    height: 650px;
    box-sizing: border-box;
    .center3 {
        width: 1100px;
        height:600px;
       float: right;
        background-image: url(https://megaone.acrothemes.com/portfolio-agency/img/portfolio-img.jpg);
        background-repeat: no-repeat;
      background-position: center;
      background-clip: border-box;
        margin-top: 10px;
        margin-right: 15px;
        animation-duration: 4s;
        animation-name: slideright;
        // animation-iteration-count:1;

  
     
     @keyframes slideright{
       from {
         margin-left: 100%;
       
       }
     
       to {
         margin-left: 0%;
        
       } 
       }
       
    }
    .heading{
    
        margin-left: 311px;
        padding-top: 200px;
        position: relative;
        top: -470px;
        z-index: 2;
        line-height: 65px;
        letter-spacing: 1.5px;
          p {
              font-size: 55px;
              
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: #000000;
       
             animation-duration: 4s;
             animation-name: slideright;
            //  animation-iteration-count:1;
    
       
          
          @keyframes slideright{
            from {
              margin-right: 100%;
              
            }
          
            to {
              margin-right: 0%;
             
            } 
            }
          }
    .alt-icon {
        padding-top: 50px;
        
    }
   .alt-icon1 {
       padding-left: 55px;
       margin-top: -25px;
   }
          }
          
}
.btn1 button {
    float: right!important;
    margin-right: 15px;
    width: 12rem;
    height: 2.7rem;
    border-radius: 20px;
    font-size: 16px;
    font-family: Roboto,sans-serif;
    margin-top: 12px;
    letter-spacing: 0.5px;
    border-color: #000000;
    
    &:hover {
    background: #000000;
 color:whitesmoke;
  }


  }
  .heading-cnt4 {
   @include center;
   padding-right: 355px;
   color: #2b2b2b;
   font-size: 26px;
   font-family: Roboto,sans-serif;
   padding-top: 10px

   
}
.heading-cnt5 {
    @include center;
    padding-right: 158px;
    color: #000000;
    font-size: 16px;
    font-family: Roboto,sans-serif;
    padding-top: 15px;
 
    
 }